@mixin font-face($font-name, $font-face-name, $font-style, $font-weight) {
    $file-path: $fonts-folder +'/'+ $font-name;
    @font-face {
        font-family: $font-face-name;
        font-style: $font-style;
        font-weight: $font-weight;
        src: local($font-face-name),
        url($file-path + ".woff") format('woff'),
        url($file-path + ".ttf") format('truetype'),
        url($file-path + ".eot") format('embedded-opentype');
    }
}

@mixin ellipsis($width) {
    max-width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
